body {
    height:100%;
    width:100%;
    margin:0;padding:0;
}
#container {
    position:absolute;
    top:60px;left:0;bottom:0;right:0;
    /*background-color:#DDD;*/
    white-space: nowrap;
    overflow: hidden;
}
.page{
    height: 100%;
    width: 100%;
    display: inline-block;
    vertical-align: top;
}

.collapsible-body{
    padding: 1.5rem 0 0.5rem 0;
}
.collapsible-body p {
    white-space: normal;
    padding: 0rem 1.5rem 1.5rem 1.5rem;
}
.collapsible-body h5 {
    font-weight: bold;
    font-size: 140%;
}

body > nav ul li:hover {
    background-color: rgba(0,0,0,0); 
}

body > nav ul li.active {
    background-color: rgba(0,0,0,0.1); 
}


/* tablet */
@media only screen and (min-width: 992px) {
    #container {
        left: 240px;
    }
    body>nav {
        left: 240px;
        position: absolute;
        width: auto;
        right: 0px;
    }
    body>nav #show_menu{
        display: none;
    }  
}