<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "fr.sapk.rak"
        version     = "1.1.1" >

    <name>SimpleRAK</name>

    <description>
        ...
    </description>

    <author href="https://sapk.fr" email="antoine.girard@sapk.fr">
        Antoine GIRARD 
    </author>

    <icon src="img/logo.png" />
    
    <preference name="orienation" value="portrait" />
    <preference name="SplashScreenDelay" value="0" />
	<preference name="permissions" value="none"/>

    <access origin="*" />

</widget>
