<?xml version="1.0" encoding="utf-8" standalone="no"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" id="fr.sapk.rak" version="2.0.0">
    <name>SimpleRAK</name>

    <description>
        Simplement affiche le menu du rak du jour et des suivants.
    </description>

    <author email="antoine.girard@sapk.fr" href="https://sapk.fr">
        Antoine GIRARD
    </author>

    <icon src="www/img/logo.png"/>

    <content src="index.html"/>
    <!--
    <plugin name="de.appplant.cordova.plugin.local-notification"/>
    <gap:plugin name="de.appplant.cordova.plugin.local-notification"/>
    -->

    <plugin name="cordova-plugin-whitelist"/>
    <gap:plugin name="cordova-plugin-whitelist" source="npm"/>

    <access origin="*" />

    <preference name="permissions" value="none"/>
    <!-- <feature name="http://api.phonegap.com/1.0/notification"/>-->
</widget>
